/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {

    /* Navigation */
    .navbar {
        width: 80%;
        top: 3.5rem;
        padding: 1rem 2.5rem;
    }

    .nav-container {
        gap: 2rem;
    }

    .nav-menu {
        gap: 1.5rem;
    }

    .nav-link {
        font-size: clamp(1.25rem, 1.5vw, 1.5rem);
    }

    .nav-link.active {
        font-weight: 700;
        border-bottom: 1px solid #000;
    }

    #Willkommen,
    #Über-mich,
    #Projekte,
    #Kontakt,
    #Galerie,
    #Projekt-info {
        margin-bottom: 0;
        height: auto;
    }

    /* Willkommen Section */
    .hero h1 {
        font-size: clamp(4rem, 4.5vw, 5rem);
    }

    .hero p {
        font-size: clamp(1rem, 1.2vw, 1.25rem);
        line-height: 1.5rem;
        max-width: 75%;
    }

    .button-container,
    .scroll-button {
        width: 6rem;
        height: 6rem;
    }

    .scroll-arrow-icon{
        width: 2rem;
        height: 2.3rem;
    }

    .merits {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    /* Über mich Section */

    .two-column-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .left-column {
        gap: 0.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #Über-mich h2 {
        text-align: center;
    }

    .about-image img {
        max-width: 27rem;
        max-height: 30rem;
        max-width: 100%;
    }

    .icon-container {
        margin-top: 0 auto;
    }

    .icon {
        width: 3rem;
        height: 3rem;
        transition: transform 0.3s ease;
    }

    /* Projekte Section */
    .cards-container {
        padding: 0 1rem;
    }

    .projekt {
        flex: 0 0 18rem;
    }

    .card {
        width: 18rem;
    }

    .card-image {
        height: 20rem;
    }

    .card-link {
        font-size: 0.875rem;
    }

    /* Kontakt Section */
    .kontakt-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .form-spalte h2 {
        text-align: center;
    }

    .kontakt-spalte {

        align-items: center;
        padding: 1rem;
    }


    .kontakt-item a,
    .kontakt-item p {
        font-size: 1.25rem;
    }

    .kontakt-container {
        justify-content: flex-start;
        gap: 0.5rem;
        width: 100%;
        height: 100%;
        padding: 2rem;
    }


    /* Footer */
    .footer-content {
        width: 90%;/
    }

    .footer-content p,
    .footer-content a {
        font-size: 0.9rem;
    }

    /* Projekts Seiten */

    #Galerie {
        padding: 6rem 1.5rem 1.5rem;
    }

    .slide {
        min-width: 50%;
    }

    .slide img {
        max-height: 50vh;
    }

    .prev-button {
        left: 1rem;
    }

    .next-button {
        right: 1rem;
    }

    .project-description {
        padding: 0 2rem;
    }

    .contact-container {
        width: 100%;
        flex-direction: column;
        padding: 0.5rem;
    }

    .kontakt-info {
        align-items: center;
        gap: auto;
    }

    .social-links {
        margin-top: 0 auto;
        justify-content: flex-start;
    }
}

/* mobile */
@media (max-width: 767px) {

    /* Typography */
    h1 {
        font-size: clamp(2.5rem, 8vw, 3rem);
    }

    h2 {
        font-size: clamp(1.8rem, 6vw, 2.2rem);
    }

    p {
        font-size: clamp(0.9rem, 3.5vw, 1.1rem);
    }


    .navbar {
        width: 60%;
        padding: 1.5rem 2.5rem;
        position: absolute;
        top: 1.5rem;
    }

    .burger-menu {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        margin-top: 1rem;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgba(244, 242, 242, 0.9);
        padding: 2rem 0;
        border-radius: 3rem;
    }

    /* Wenn die Checkbox aktiviert ist, zeige die Navigationslinks */
    .burger-toggle:checked~.nav-menu {
        display: flex;
    }

    .logo {
        width: 3.125rem;
        height: 2.75rem;
    }

    #Willkommen,
    #Über-mich,
    #Projekte,
    #Kontakt,
    #Galerie,
    #Projekt-info,
    #impressum-1,
    #disclaimer {
        margin-bottom: 2rem;
        height: auto;
    }

    /* Welcommen section */
    .hero img {
        width: auto;
        max-height: 90px;
        margin-bottom: 0, 5rem;
    }

    .hero h1 {
        font-size: 3rem;
    }

    .hero p {
        max-width: 90%;
        padding: 0;
    }

    .button-container,
    .scroll-button {

        width: 3.5rem;
        height: 3.5rem;

    }

    .scroll-button:hover {
        background: rgba(120, 120, 120, 0.8);
        transform: translateY(-4px);
    }

    .scroll-arrow-icon {
        width: 1.7rem;
        height: 1.2rem;
    }

    .merits {
        font-size: 1rem;
        line-height: 1.25rem;
        position: absolute;
        bottom: 1.5rem;
        text-align: center;
    }

    /* Uber mich section */
    .two-column-grid {
        grid-template-columns: 1fr;

    }

    /* Reihenfolge der Elemente ändern */
    .right-column {
        order: 2;
    }

    .left-column {
        order: 1;
        padding-left: 0;
    }

    .left-column h2 {
        text-align: center;
    }

    .left-column p {
        text-align: center;
    }

    .icon {
        width: 24px;
        height: 24px;
    }

    .about-image img {
        max-width: 300px;
        max-height: 350px;
        margin: 0 auto;
    }

    /* projekt section */
    .cards-container {
        gap: 0.5rem;
        padding: 0 0.25rem;
    }

    .projekt {
        flex: 0 0 100%;
    }

    .card {
        width: 100%;
        height: auto;
    }

    .card-image {
        width: 100%;
        height: auto;

    }

    .card-link {
        font-size: 0.75rem;
    }

    .arrow-icon {
        width: 1rem;
        height: 1rem;
    }

    /* kontakt section */
    .kontakt-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .form-spalte,
    .kontakt-spalte {
        grid-column: auto;
        width: 100%;
        padding-right: 0;
    }

    .form-spalte h2 {
        font-size: 1.75rem;
        text-align: center;
    }

    .floating-label-group {
        margin-bottom: 1.5rem;
    }

    .form-spalte button {
        font-size: 1.5rem;
        height: 3rem;
    }

    .kontakt-container {
        padding: 2rem;
        gap: 1.2rem;
        width: 100%;
    }

    .kontakt-item {
        gap: 0.4rem;
        width: 100%;
        padding: 0;
    }

    .kontakt-item a,
    .kontakt-item p {
        padding: 0;
        font-size: 1rem;
    }

    .social-links {
        align-items: flex-start;
        gap: 0.5rem;
        padding-bottom: 2rem;
    }

    .social-icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    /* Footer */
    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .footer-content a {
        order: -1;
    }

    .footer-content p {
        order: 1;
    }

    /* Projekts Unterseiten */
    #Galerie {
        min-height: calc(100vh - 4rem);
        padding: 2rem 1rem 1rem;
    }

    .slide {
        min-width: 100%;
 
        padding: 0 0.5rem;
    }

    .slide img {
        max-height: 60vh;
    }

    .nav-button {
        width: 2rem;
        height: 2rem;
    }

    .prev-button {
        left: 0.5rem;
    }

    .next-button {
        right: 0.5rem;
    }

    .nav-icon {
        width: 1rem;
        height: 1rem;
    }

    .project-description {
        padding: 0 1.5rem;
    }

    .project-actions {
        justify-content: center;
        padding: 0;

    }

    .project-navigation {
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;
    }

    .project-navigation a {
        font-size: 1rem;
    }

    /* Button mit Pfeil */
    .prev-project-btn,
    .next-project-btn {
        justify-content: center;
    }

    .contact-container {
        flex-direction: column;
        padding: 1rem;
    }

    .kontakt-info {
        flex-direction: column;
        align-items: center;
    }

    .kontakt-item {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .social-links1 {
        justify-content: flex-start;
    }

    /* Impressum */
    #impressum-1,
    #disclaimer {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 6rem;
        margin: 0;
    }

    #disclaimer {
        padding-top: 0;
        margin-bottom: 0;
    }

}