/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Classes */
.judson-regular {
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
}

.judson-bold {
    font-family: "Judson", serif;
    font-weight: 700;
    font-style: normal;
}

.judson-regular-italic {
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: italic;
}

/* Body Styles */

body {
    font-family: 'Judson', serif;
    color: #000;
    background-color: #f5f5f5;
    line-height: 1.6;
}

/* Typography */
h1 {
    font-size: 6rem;
    line-height: 6.5rem;
    text-align: center;
    margin-bottom: 0.6rem;
}

h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    margin: 0.6rem 0;
}

h3 {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    margin: 0.5rem 0;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    color: #000000;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Common Styles */
.container,
.kontakt-spalte {
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;
}

/* Section Common Styles */
#Willkommen,
#Über-mich,
#Projekte,
#Kontakt,
.project-section {
    height: auto;
    min-height: 100vh;
    width: 100%;
    color: rgb(20, 19, 19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin-bottom: 3rem;
}

/* Navigation */
.navbar {
    position: fixed;
    top: 2.5rem;
    max-width: 58rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 80%;
    background: rgba(245, 245, 245, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3.5rem;
    padding: 1rem 3rem;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 4.4rem;
    height: 4.2rem;
}

/* Navigationslinks (Desktop) */
.nav-menu {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-link {
    font-family: 'Judson', serif;
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;
    padding: 0.75rem 0;
}

.nav-link.active {
    font-weight: 700;
    border-bottom: 1px solid #000;
}

/* Burger-Menü Icon (Label) */
.burger-menu {
    display: none;
    cursor: pointer;
}

.burger-icon {
    width: 1.75rem;
    height: 1.75rem;
}

.burger-toggle {
    display: none;
}

/* Willkommen Section */
#Willkommen {
    position: relative;
    background-image: url("https://raw.github.com/IU-Webprogrammierung/web-programmierung-LisaLukinykh/3fcdb39366fddfc1ce6736a8dbe80ecb655bb63a/images/Backround.png");
    background-size: cover;
    background-position: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.hero img {
    width: auto;
    max-height: 8rem;
    margin-bottom: 0, 5rem;
}

.hero h1 {
    font-size: 5.5rem;
    margin-bottom: 1rem;
}

.hero p {
    max-width: 39rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #595757;
    margin-bottom: 2rem;
}

.button-container {
    width: 7.5rem;
    height: 7.5rem;
    justify-content: center;
    align-items: center;
}

.scroll-button {
    width: 7.5rem;
    height: 7.5rem;
    background: rgba(90, 90, 90, 0.6);
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 2px #000000, 0px 4px 2px #2D3648;
    text-decoration: none;
}

.arrow-icon {
    width: 3rem;
    height: 2.7rem;
    display: block;
}

.merits {
    font-family: 'Judson';
    font-size: 2rem;
    line-height: 2.5rem;
    position: absolute;
    right: 4rem;
    bottom: 2.4rem;
    color: #595757;
    text-align: right;
}

/* Über mich Section */
.two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    margin: 0 auto;
}

/* Linke Spalte (Text) */
.left-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 8rem;
}

.left-column h2 {
    text-align: center;
}

.left-column p {
    text-align: center;
}

/* Rechte Spalte (Foto) */
.right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.about-image img {
    max-width: 22rem;
    max-height: 25rem;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
}

/* Icons-Container */
.icon-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
}

.icon {
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s ease;
}

/* Projekte Section */

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.projekt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
}

.card {
    background: #fff;
    border: 0.1px solid #595757;
    border-radius: 1.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 21rem; 
    height: auto;
    display: flex;
    flex-direction: column;
    
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    width: 100%;
    height: 25.6rem;
    object-fit: cover;
    border-radius: 1.5rem;
}

.card-link {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
    padding: 1rem;
    text-decoration: none;
    color: #000;
    font-family: 'Judson', serif;
    font-size: 1rem;
    gap: 1.5rem;
}
 
.arrow-icon {
    width: 1rem; 
    height: 1rem;
}

/* Kontakt Section */

.kontakt-grid {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 30px;
    margin-top: 20px;
}

.form-spalte form {
    width: 100%;
}

.form-spalte input,
.form-spalte textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.form-spalte button {
    padding: 10px 20px;
    background-color: #000;
    color: white;
}

.kontakt-spalte {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.social-links {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

/* Footer */
footer {
    padding: 20px;
}

.footer-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    margin: 0;
}

.footer-content a {
    text-decoration: none;
    color: #333;
}

/* Projekt Seiten */

.project-section h1 {
    text-align: center;
    margin-bottom: 40px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.project-info {
    margin: 0 auto;
    padding: 40px 20px;
}

.project-description {
    margin-bottom: 30px;
}

.project-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.nav-button {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.kontakt-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    text-align: right;
}

.contact-info a {
    display: block;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
}

.contact-info p {
    margin: 0;
}

/* Impressum */